{% extends "base.html" %}
{% block title %} Dashboard{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" id="home" href="/">Home</a>
        <a class="nav-item nav-link" id="dashboard" href="/patient-dashboard">Dashboard</a>
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        {% else %}
        <a class="nav-item nav-link" id="patient" href="/patient-landing">Patient</a>
        <a class="nav-item nav-link" id="doctor" href="/doctor-landing">Doctor</a>
        <a class="nav-item nav-link" id="admin" href="/admin-landing">Admin</a>
        {% endif %}
      </div>
    </div>
    <span id='ct7' class="bg-dark" style="color:rgb(255, 255, 255);"></span>
      <script>function display_ct7() {
        var x = new Date()
        var ampm = x.getHours( ) >= 12 ? ' PM' : ' AM';
        hours = x.getHours( ) % 12;
        hours = hours ? hours : 12;
        hours=hours.toString().length==1? 0+hours.toString() : hours;
        
        var minutes=x.getMinutes().toString()
        minutes=minutes.length==1 ? 0+minutes : minutes;
        
        var seconds=x.getSeconds().toString()
        seconds=seconds.length==1 ? 0+seconds : seconds;
        
        var month=(x.getMonth() +1).toString();
        month=month.length==1 ? 0+month : month;
        
        var dt=x.getDate().toString();
        dt=dt.length==1 ? 0+dt : dt;
        
        var x1=dt + "/" + month + "/" + x.getFullYear(); 
        x1 = x1 + " - " +  hours + ":" +  minutes + ":" +  seconds + " " + ampm;
        document.getElementById('ct7').innerHTML = x1;
        display_c7();
         }
         function display_c7(){
        var refresh=1000; // Refresh rate in milli seconds
        mytime=setTimeout('display_ct7()',refresh)
        }
        display_c7()
        </script>
  </nav>
{% endblock %}

{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-5 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Hey,</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{user.name}}</h1>
        <div class="flex mb-4">
          <h1 class="flex-grow text-dark border-b py-2 text-lg px-1">Your Details</h1>
        </div>
        <h3 class="text-sm title-font text-black tracking-widest"><b>Health ID: </b>{{user.id}}</h3>
        <h3 class="text-sm title-font text-black tracking-widest"><b>Name: </b>{{user.name}}</h3>
        <h3 class="text-sm title-font text-black tracking-widest"><b>Date of birth: </b>{{user.date_of_birth}}</h3>
        <h3 class="text-sm title-font text-black tracking-widest"><b>Blood Group: </b>{{user.blood_group}}</h3>
        <h3 class="text-sm title-font text-black tracking-widest"><b>Gender: </b>{{user.gender}}</h3>
        <h3 class="text-sm title-font text-black tracking-widest"><b>Phone: </b>{{user.phone[:3]+"*****"+user.phone[8:]}}</h3>
        <h3 class="text-sm title-font text-black tracking-widest"><b>Email: </b>{{user.email}}</h3>
        <br>
        <div class="flex">
          <button onclick="document.location='patient-reports'" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded">See/Download Reports</button>
        </div>
        <br>
      </div>
      <img alt="Patient" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://source.unsplash.com/1600x900/?health,medicine,hospital,prescription">
    </div>
  </div>
</section>
{% endblock %}